<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Sudetinis Bean -->
	<!-- nurodyta scope = "prototype" tuo atveju, jei naudotojas nenurodys atitinkamos 
		reiksmes, nebutu itraukta pries tai naudota reiksme -->

	<bean name="ordersBean" class="databse.tables.Orders"
		scope="prototype">
		<property name="descriptionOfOrder" value="Nenurodyta"></property>
		<property name="manager" value="Nenurodyta"></property>
		<property name="status" value="vykdomas"></property>
		<property name="deliveryDate" value="Nenurodyta"></property>
		<property name="order_name" value="Nenurodyta"></property>
		<property name="order_phoneNumber" value="Nenurodyta"></property>
		<property name="order_supplier" value="Nenurodyta"></property>
		<property name="order_amount" value="0"></property>
		<property name="order_price" value="0"></property>
	</bean>
	
	


</beans>